# Frontend requirements - React + TailwindCSS

# Node.js (versão recomendada)
node 
npm

# React
react
eact-router-dom


# Tailwind CSS
tailwindcss
autoprefixer


# TUTORIAL: To set up Tailwind CSS, run the following command to generate the configuration files:
# inside teh frontend directory
# npm install or npm install react react-dom react-scripts
# npm install react-router-dom
# npm install -D tailwindcss postcss autoprefixer
# npx tailwindcss init -p
# here you are supposed to now have tailwind.config.js and postcss.config.js files created (you already have this seted up)
# you can also check where is it donloaded with '' npm list tailwindcss ''
# now just run the app with '' npm start ''

